<section class="px-10">
    <h3 class="lead">Co oferuję?</h3>
    <h2
        class="text-[15em] leading-[1] font-big font-bold uppercase text-orange-500"
    >
        Oferta
    </h2>
    <p class="text-2xl max-w-[75ch] leading-[2]">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
        reiciendis quibusdam quidem, expedita iusto consequuntur explicabo sint
        nihil numquam esse repudiandae, quas ullam. Consectetur necessitatibus
        ipsam placeat id molestiae. Ut.
    </p>
</section>
<div class="px-30 py-[20vh] bg-neutral-900 my-20 space-y-20">
    <div class="grid grid-cols-2 group gap-12 items-center min-h-[60vh]">
        <div class="group-odd:col-start-1 group-even:col-start-2 row-start-1">
            <h3 class="text-10xl font-black font-big">Pozycjonowanie SEO</h3>
            <p class="text-xl mt-12 mb-3 leading-[2]">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                possimus fugiat praesentium dolores, aperiam architecto sunt
                quae ea aspernatur perferendis at quod voluptatibus commodi
                recusandae libero, quidem doloremque. Harum, dicta!
            </p>
            <a href="#">Sprawdź</a>
        </div>
        <div class="group-odd:col-start-2 group-even:col-start-1 row-start-1">
            <img
                src="https://images.pexels.com/photos/20371357/pexels-photo-20371357.jpeg"
                class="h-76 w-full object-cover object-center rounded-md"
                alt=""
            />
        </div>
    </div>
    <div class="grid grid-cols-2 group gap-12 items-center min-h-[60vh]">
        <div class="group-odd:col-start-1 group-even:col-start-2 row-start-1">
            <h3 class="text-10xl font-black font-big">Pozycjonowanie SEO</h3>
            <p class="text-xl mt-12 mb-3 leading-[2]">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                possimus fugiat praesentium dolores, aperiam architecto sunt
                quae ea aspernatur perferendis at quod voluptatibus commodi
                recusandae libero, quidem doloremque. Harum, dicta!
            </p>
            <a href="#">Sprawdź</a>
        </div>
        <div class="group-odd:col-start-2 group-even:col-start-1 row-start-1">
            <img
                src="https://images.pexels.com/photos/20371357/pexels-photo-20371357.jpeg"
                class="h-76 w-full object-cover object-center rounded-md"
                alt=""
            />
        </div>
    </div>
    <div class="grid grid-cols-2 group gap-12 items-center min-h-[60vh]">
        <div class="group-odd:col-start-1 group-even:col-start-2 row-start-1">
            <h3 class="text-10xl font-black font-big">Pozycjonowanie SEO</h3>
            <p class="text-xl mt-12 mb-3 leading-[2]">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                possimus fugiat praesentium dolores, aperiam architecto sunt
                quae ea aspernatur perferendis at quod voluptatibus commodi
                recusandae libero, quidem doloremque. Harum, dicta!
            </p>
            <a href="#">Sprawdź</a>
        </div>
        <div class="group-odd:col-start-2 group-even:col-start-1 row-start-1">
            <img
                src="https://images.pexels.com/photos/20371357/pexels-photo-20371357.jpeg"
                class="h-76 w-full object-cover object-center rounded-md"
                alt=""
            />
        </div>
    </div>
</div>
