@import "tailwindcss";
@import "./global.css";

.lead {
    @apply font-regular bg-neutral-50 leading-[1.8] font-semibold text-2xl uppercase inline;
    /* white-space: nowrap; */
}

.lead::after {
    content: ']';
    margin-left: 0.2em;
}

.lead::before {
    content: '[';
    margin-right: 0.2em;
}

.lead::after,
.lead::before {
    @apply text-2xl font-slab font-thin leading-[1.8];
    /* font-size: var(--text-2xl); */
}