---
import { Hero, Overview, Services } from "@/views/home";
---

<html lang="pl_PL">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<title>Astro</title>
	</head>
	<body class="font-roboto !bg-neutral-950 text-neutral-50">
		<nav>
			<a href="/">Start</a>
			<a href="/">Blog</a>
			<a href="/">Oferta</a>
			<a href="/">Projekty</a>
			<a href="/">Kontakt</a>
		</nav>
		<Hero client:load />
		<Overview />
		<Services />
		<h1>Astro</h1>
		<ul class="text-neutral-700">
			<li>lorem__1</li>
			<li>lorem__2</li>
			<li>lorem__3</li>
			<li>lorem__4</li>
			<li>lorem__5</li>
			<li>lorem__6</li>
			<li>lorem__7</li>
			<li>lorem__8</li>
			<li>lorem__9</li>
			<li>lorem__10</li>
			<li>lorem__11</li>
			<li>lorem__12</li>
			<li>lorem__13</li>
			<li>lorem__14</li>
			<li>lorem__15</li>
			<li>lorem__16</li>
			<li>lorem__17</li>
			<li>lorem__18</li>
			<li>lorem__19</li>
			<li>lorem__20</li>
			<li>lorem__21</li>
			<li>lorem__22</li>
			<li>lorem__23</li>
			<li>lorem__24</li>
			<li>lorem__25</li>
			<li>lorem__26</li>
			<li>lorem__27</li>
			<li>lorem__28</li>
			<li>lorem__29</li>
			<li>lorem__30</li>
			<li>lorem__31</li>
			<li>lorem__32</li>
			<li>lorem__33</li>
			<li>lorem__34</li>
			<li>lorem__35</li>
			<li>lorem__36</li>
			<li>lorem__37</li>
			<li>lorem__38</li>
			<li>lorem__39</li>
			<li>lorem__40</li>
			<li>lorem__41</li>
			<li>lorem__42</li>
			<li>lorem__43</li>
			<li>lorem__44</li>
			<li>lorem__45</li>
			<li>lorem__46</li>
			<li>lorem__47</li>
			<li>lorem__48</li>
			<li>lorem__49</li>
			<li>lorem__50</li>
			<li>lorem__51</li>
			<li>lorem__52</li>
			<li>lorem__53</li>
			<li>lorem__54</li>
			<li>lorem__55</li>
			<li>lorem__56</li>
			<li>lorem__57</li>
			<li>lorem__58</li>
			<li>lorem__59</li>
			<li>lorem__60</li>
			<li>lorem__61</li>
			<li>lorem__62</li>
			<li>lorem__63</li>
			<li>lorem__64</li>
			<li>lorem__65</li>
			<li>lorem__66</li>
			<li>lorem__67</li>
			<li>lorem__68</li>
			<li>lorem__69</li>
			<li>lorem__70</li>
			<li>lorem__71</li>
			<li>lorem__72</li>
			<li>lorem__73</li>
			<li>lorem__74</li>
			<li>lorem__75</li>
			<li>lorem__76</li>
			<li>lorem__77</li>
			<li>lorem__78</li>
			<li>lorem__79</li>
			<li>lorem__80</li>
			<li>lorem__81</li>
			<li>lorem__82</li>
			<li>lorem__83</li>
			<li>lorem__84</li>
			<li>lorem__85</li>
			<li>lorem__86</li>
			<li>lorem__87</li>
			<li>lorem__88</li>
			<li>lorem__89</li>
			<li>lorem__90</li>
			<li>lorem__91</li>
			<li>lorem__92</li>
			<li>lorem__93</li>
			<li>lorem__94</li>
			<li>lorem__95</li>
			<li>lorem__96</li>
			<li>lorem__97</li>
			<li>lorem__98</li>
			<li>lorem__99</li>
			<li>lorem__100</li>
			<li>lorem__101</li>
			<li>lorem__102</li>
			<li>lorem__103</li>
			<li>lorem__104</li>
			<li>lorem__105</li>
			<li>lorem__106</li>
			<li>lorem__107</li>
			<li>lorem__108</li>
			<li>lorem__109</li>
			<li>lorem__110</li>
			<li>lorem__111</li>
			<li>lorem__112</li>
			<li>lorem__113</li>
			<li>lorem__114</li>
			<li>lorem__115</li>
			<li>lorem__116</li>
			<li>lorem__117</li>
			<li>lorem__118</li>
			<li>lorem__119</li>
			<li>lorem__120</li>
			<li>lorem__121</li>
			<li>lorem__122</li>
			<li>lorem__123</li>
			<li>lorem__124</li>
			<li>lorem__125</li>
			<li>lorem__126</li>
			<li>lorem__127</li>
			<li>lorem__128</li>
			<li>lorem__129</li>
			<li>lorem__130</li>
			<li>lorem__131</li>
			<li>lorem__132</li>
			<li>lorem__133</li>
			<li>lorem__134</li>
			<li>lorem__135</li>
			<li>lorem__136</li>
			<li>lorem__137</li>
			<li>lorem__138</li>
			<li>lorem__139</li>
			<li>lorem__140</li>
			<li>lorem__141</li>
			<li>lorem__142</li>
			<li>lorem__143</li>
			<li>lorem__144</li>
			<li>lorem__145</li>
			<li>lorem__146</li>
			<li>lorem__147</li>
			<li>lorem__148</li>
			<li>lorem__149</li>
			<li>lorem__150</li>
			<li>lorem__151</li>
			<li>lorem__152</li>
			<li>lorem__153</li>
			<li>lorem__154</li>
			<li>lorem__155</li>
			<li>lorem__156</li>
			<li>lorem__157</li>
			<li>lorem__158</li>
			<li>lorem__159</li>
			<li>lorem__160</li>
			<li>lorem__161</li>
			<li>lorem__162</li>
			<li>lorem__163</li>
			<li>lorem__164</li>
			<li>lorem__165</li>
			<li>lorem__166</li>
			<li>lorem__167</li>
			<li>lorem__168</li>
			<li>lorem__169</li>
			<li>lorem__170</li>
			<li>lorem__171</li>
			<li>lorem__172</li>
			<li>lorem__173</li>
			<li>lorem__174</li>
			<li>lorem__175</li>
			<li>lorem__176</li>
			<li>lorem__177</li>
			<li>lorem__178</li>
			<li>lorem__179</li>
			<li>lorem__180</li>
			<li>lorem__181</li>
			<li>lorem__182</li>
			<li>lorem__183</li>
			<li>lorem__184</li>
			<li>lorem__185</li>
			<li>lorem__186</li>
			<li>lorem__187</li>
			<li>lorem__188</li>
			<li>lorem__189</li>
			<li>lorem__190</li>
			<li>lorem__191</li>
			<li>lorem__192</li>
			<li>lorem__193</li>
			<li>lorem__194</li>
			<li>lorem__195</li>
			<li>lorem__196</li>
			<li>lorem__197</li>
			<li>lorem__198</li>
			<li>lorem__199</li>
			<li>lorem__200</li>
			<li>lorem__201</li>
			<li>lorem__202</li>
			<li>lorem__203</li>
			<li>lorem__204</li>
			<li>lorem__205</li>
			<li>lorem__206</li>
			<li>lorem__207</li>
			<li>lorem__208</li>
			<li>lorem__209</li>
			<li>lorem__210</li>
			<li>lorem__211</li>
			<li>lorem__212</li>
			<li>lorem__213</li>
			<li>lorem__214</li>
			<li>lorem__215</li>
			<li>lorem__216</li>
			<li>lorem__217</li>
			<li>lorem__218</li>
			<li>lorem__219</li>
			<li>lorem__220</li>
			<li>lorem__221</li>
			<li>lorem__222</li>
			<li>lorem__223</li>
			<li>lorem__224</li>
			<li>lorem__225</li>
			<li>lorem__226</li>
			<li>lorem__227</li>
			<li>lorem__228</li>
			<li>lorem__229</li>
			<li>lorem__230</li>
			<li>lorem__231</li>
			<li>lorem__232</li>
			<li>lorem__233</li>
			<li>lorem__234</li>
			<li>lorem__235</li>
			<li>lorem__236</li>
			<li>lorem__237</li>
			<li>lorem__238</li>
			<li>lorem__239</li>
			<li>lorem__240</li>
			<li>lorem__241</li>
			<li>lorem__242</li>
			<li>lorem__243</li>
			<li>lorem__244</li>
			<li>lorem__245</li>
			<li>lorem__246</li>
			<li>lorem__247</li>
			<li>lorem__248</li>
			<li>lorem__249</li>
			<li>lorem__250</li>
			<li>lorem__251</li>
			<li>lorem__252</li>
			<li>lorem__253</li>
			<li>lorem__254</li>
			<li>lorem__255</li>
			<li>lorem__256</li>
			<li>lorem__257</li>
			<li>lorem__258</li>
			<li>lorem__259</li>
			<li>lorem__260</li>
			<li>lorem__261</li>
			<li>lorem__262</li>
			<li>lorem__263</li>
			<li>lorem__264</li>
			<li>lorem__265</li>
			<li>lorem__266</li>
			<li>lorem__267</li>
			<li>lorem__268</li>
			<li>lorem__269</li>
			<li>lorem__270</li>
			<li>lorem__271</li>
			<li>lorem__272</li>
			<li>lorem__273</li>
			<li>lorem__274</li>
			<li>lorem__275</li>
			<li>lorem__276</li>
			<li>lorem__277</li>
			<li>lorem__278</li>
			<li>lorem__279</li>
			<li>lorem__280</li>
			<li>lorem__281</li>
			<li>lorem__282</li>
			<li>lorem__283</li>
			<li>lorem__284</li>
			<li>lorem__285</li>
			<li>lorem__286</li>
			<li>lorem__287</li>
			<li>lorem__288</li>
			<li>lorem__289</li>
			<li>lorem__290</li>
			<li>lorem__291</li>
			<li>lorem__292</li>
			<li>lorem__293</li>
			<li>lorem__294</li>
			<li>lorem__295</li>
			<li>lorem__296</li>
			<li>lorem__297</li>
			<li>lorem__298</li>
			<li>lorem__299</li>
			<li>lorem__300</li>
			<li>lorem__301</li>
			<li>lorem__302</li>
			<li>lorem__303</li>
			<li>lorem__304</li>
			<li>lorem__305</li>
			<li>lorem__306</li>
			<li>lorem__307</li>
			<li>lorem__308</li>
			<li>lorem__309</li>
			<li>lorem__310</li>
			<li>lorem__311</li>
			<li>lorem__312</li>
			<li>lorem__313</li>
			<li>lorem__314</li>
			<li>lorem__315</li>
			<li>lorem__316</li>
			<li>lorem__317</li>
			<li>lorem__318</li>
			<li>lorem__319</li>
			<li>lorem__320</li>
			<li>lorem__321</li>
			<li>lorem__322</li>
			<li>lorem__323</li>
			<li>lorem__324</li>
			<li>lorem__325</li>
			<li>lorem__326</li>
			<li>lorem__327</li>
			<li>lorem__328</li>
			<li>lorem__329</li>
			<li>lorem__330</li>
			<li>lorem__331</li>
			<li>lorem__332</li>
			<li>lorem__333</li>
			<li>lorem__334</li>
			<li>lorem__335</li>
			<li>lorem__336</li>
			<li>lorem__337</li>
			<li>lorem__338</li>
			<li>lorem__339</li>
			<li>lorem__340</li>
			<li>lorem__341</li>
			<li>lorem__342</li>
			<li>lorem__343</li>
			<li>lorem__344</li>
			<li>lorem__345</li>
			<li>lorem__346</li>
			<li>lorem__347</li>
			<li>lorem__348</li>
			<li>lorem__349</li>
			<li>lorem__350</li>
			<li>lorem__351</li>
			<li>lorem__352</li>
			<li>lorem__353</li>
			<li>lorem__354</li>
			<li>lorem__355</li>
			<li>lorem__356</li>
			<li>lorem__357</li>
			<li>lorem__358</li>
			<li>lorem__359</li>
			<li>lorem__360</li>
			<li>lorem__361</li>
			<li>lorem__362</li>
			<li>lorem__363</li>
			<li>lorem__364</li>
			<li>lorem__365</li>
			<li>lorem__366</li>
			<li>lorem__367</li>
			<li>lorem__368</li>
			<li>lorem__369</li>
			<li>lorem__370</li>
			<li>lorem__371</li>
			<li>lorem__372</li>
			<li>lorem__373</li>
			<li>lorem__374</li>
			<li>lorem__375</li>
			<li>lorem__376</li>
			<li>lorem__377</li>
			<li>lorem__378</li>
			<li>lorem__379</li>
			<li>lorem__380</li>
			<li>lorem__381</li>
			<li>lorem__382</li>
			<li>lorem__383</li>
			<li>lorem__384</li>
			<li>lorem__385</li>
			<li>lorem__386</li>
			<li>lorem__387</li>
			<li>lorem__388</li>
			<li>lorem__389</li>
			<li>lorem__390</li>
			<li>lorem__391</li>
			<li>lorem__392</li>
			<li>lorem__393</li>
			<li>lorem__394</li>
			<li>lorem__395</li>
			<li>lorem__396</li>
			<li>lorem__397</li>
			<li>lorem__398</li>
			<li>lorem__399</li>
			<li>lorem__400</li>
			<li>lorem__401</li>
			<li>lorem__402</li>
			<li>lorem__403</li>
			<li>lorem__404</li>
			<li>lorem__405</li>
			<li>lorem__406</li>
			<li>lorem__407</li>
			<li>lorem__408</li>
			<li>lorem__409</li>
			<li>lorem__410</li>
			<li>lorem__411</li>
			<li>lorem__412</li>
			<li>lorem__413</li>
			<li>lorem__414</li>
			<li>lorem__415</li>
			<li>lorem__416</li>
			<li>lorem__417</li>
			<li>lorem__418</li>
			<li>lorem__419</li>
			<li>lorem__420</li>
			<li>lorem__421</li>
			<li>lorem__422</li>
			<li>lorem__423</li>
			<li>lorem__424</li>
			<li>lorem__425</li>
			<li>lorem__426</li>
			<li>lorem__427</li>
			<li>lorem__428</li>
			<li>lorem__429</li>
			<li>lorem__430</li>
			<li>lorem__431</li>
			<li>lorem__432</li>
			<li>lorem__433</li>
			<li>lorem__434</li>
			<li>lorem__435</li>
			<li>lorem__436</li>
			<li>lorem__437</li>
			<li>lorem__438</li>
			<li>lorem__439</li>
			<li>lorem__440</li>
			<li>lorem__441</li>
			<li>lorem__442</li>
			<li>lorem__443</li>
			<li>lorem__444</li>
			<li>lorem__445</li>
			<li>lorem__446</li>
			<li>lorem__447</li>
			<li>lorem__448</li>
			<li>lorem__449</li>
			<li>lorem__450</li>
			<li>lorem__451</li>
			<li>lorem__452</li>
			<li>lorem__453</li>
			<li>lorem__454</li>
			<li>lorem__455</li>
			<li>lorem__456</li>
			<li>lorem__457</li>
			<li>lorem__458</li>
			<li>lorem__459</li>
			<li>lorem__460</li>
			<li>lorem__461</li>
			<li>lorem__462</li>
			<li>lorem__463</li>
			<li>lorem__464</li>
			<li>lorem__465</li>
			<li>lorem__466</li>
			<li>lorem__467</li>
			<li>lorem__468</li>
			<li>lorem__469</li>
			<li>lorem__470</li>
			<li>lorem__471</li>
			<li>lorem__472</li>
			<li>lorem__473</li>
			<li>lorem__474</li>
			<li>lorem__475</li>
			<li>lorem__476</li>
			<li>lorem__477</li>
			<li>lorem__478</li>
			<li>lorem__479</li>
			<li>lorem__480</li>
			<li>lorem__481</li>
			<li>lorem__482</li>
			<li>lorem__483</li>
			<li>lorem__484</li>
			<li>lorem__485</li>
			<li>lorem__486</li>
			<li>lorem__487</li>
			<li>lorem__488</li>
			<li>lorem__489</li>
			<li>lorem__490</li>
			<li>lorem__491</li>
			<li>lorem__492</li>
			<li>lorem__493</li>
			<li>lorem__494</li>
			<li>lorem__495</li>
			<li>lorem__496</li>
			<li>lorem__497</li>
			<li>lorem__498</li>
			<li>lorem__499</li>
			<li>lorem__500</li>
			<li>lorem__501</li>
			<li>lorem__502</li>
			<li>lorem__503</li>
			<li>lorem__504</li>
			<li>lorem__505</li>
			<li>lorem__506</li>
			<li>lorem__507</li>
			<li>lorem__508</li>
			<li>lorem__509</li>
			<li>lorem__510</li>
			<li>lorem__511</li>
			<li>lorem__512</li>
			<li>lorem__513</li>
			<li>lorem__514</li>
			<li>lorem__515</li>
			<li>lorem__516</li>
			<li>lorem__517</li>
			<li>lorem__518</li>
			<li>lorem__519</li>
			<li>lorem__520</li>
			<li>lorem__521</li>
			<li>lorem__522</li>
			<li>lorem__523</li>
			<li>lorem__524</li>
			<li>lorem__525</li>
			<li>lorem__526</li>
			<li>lorem__527</li>
			<li>lorem__528</li>
			<li>lorem__529</li>
			<li>lorem__530</li>
			<li>lorem__531</li>
			<li>lorem__532</li>
			<li>lorem__533</li>
			<li>lorem__534</li>
			<li>lorem__535</li>
			<li>lorem__536</li>
			<li>lorem__537</li>
			<li>lorem__538</li>
			<li>lorem__539</li>
			<li>lorem__540</li>
			<li>lorem__541</li>
			<li>lorem__542</li>
			<li>lorem__543</li>
			<li>lorem__544</li>
			<li>lorem__545</li>
			<li>lorem__546</li>
			<li>lorem__547</li>
			<li>lorem__548</li>
			<li>lorem__549</li>
			<li>lorem__550</li>
			<li>lorem__551</li>
			<li>lorem__552</li>
			<li>lorem__553</li>
			<li>lorem__554</li>
			<li>lorem__555</li>
			<li>lorem__556</li>
			<li>lorem__557</li>
			<li>lorem__558</li>
			<li>lorem__559</li>
			<li>lorem__560</li>
			<li>lorem__561</li>
			<li>lorem__562</li>
			<li>lorem__563</li>
			<li>lorem__564</li>
			<li>lorem__565</li>
			<li>lorem__566</li>
			<li>lorem__567</li>
			<li>lorem__568</li>
			<li>lorem__569</li>
			<li>lorem__570</li>
			<li>lorem__571</li>
			<li>lorem__572</li>
			<li>lorem__573</li>
			<li>lorem__574</li>
			<li>lorem__575</li>
			<li>lorem__576</li>
			<li>lorem__577</li>
			<li>lorem__578</li>
			<li>lorem__579</li>
			<li>lorem__580</li>
			<li>lorem__581</li>
			<li>lorem__582</li>
			<li>lorem__583</li>
			<li>lorem__584</li>
			<li>lorem__585</li>
			<li>lorem__586</li>
			<li>lorem__587</li>
			<li>lorem__588</li>
			<li>lorem__589</li>
			<li>lorem__590</li>
			<li>lorem__591</li>
			<li>lorem__592</li>
			<li>lorem__593</li>
			<li>lorem__594</li>
			<li>lorem__595</li>
			<li>lorem__596</li>
			<li>lorem__597</li>
			<li>lorem__598</li>
			<li>lorem__599</li>
			<li>lorem__600</li>
			<li>lorem__601</li>
			<li>lorem__602</li>
			<li>lorem__603</li>
			<li>lorem__604</li>
			<li>lorem__605</li>
			<li>lorem__606</li>
			<li>lorem__607</li>
			<li>lorem__608</li>
			<li>lorem__609</li>
			<li>lorem__610</li>
			<li>lorem__611</li>
			<li>lorem__612</li>
			<li>lorem__613</li>
			<li>lorem__614</li>
			<li>lorem__615</li>
			<li>lorem__616</li>
			<li>lorem__617</li>
			<li>lorem__618</li>
			<li>lorem__619</li>
			<li>lorem__620</li>
			<li>lorem__621</li>
			<li>lorem__622</li>
			<li>lorem__623</li>
			<li>lorem__624</li>
			<li>lorem__625</li>
			<li>lorem__626</li>
			<li>lorem__627</li>
			<li>lorem__628</li>
			<li>lorem__629</li>
			<li>lorem__630</li>
			<li>lorem__631</li>
			<li>lorem__632</li>
			<li>lorem__633</li>
			<li>lorem__634</li>
			<li>lorem__635</li>
			<li>lorem__636</li>
			<li>lorem__637</li>
			<li>lorem__638</li>
			<li>lorem__639</li>
			<li>lorem__640</li>
			<li>lorem__641</li>
			<li>lorem__642</li>
			<li>lorem__643</li>
			<li>lorem__644</li>
			<li>lorem__645</li>
			<li>lorem__646</li>
			<li>lorem__647</li>
			<li>lorem__648</li>
			<li>lorem__649</li>
			<li>lorem__650</li>
			<li>lorem__651</li>
			<li>lorem__652</li>
			<li>lorem__653</li>
			<li>lorem__654</li>
			<li>lorem__655</li>
			<li>lorem__656</li>
			<li>lorem__657</li>
			<li>lorem__658</li>
			<li>lorem__659</li>
			<li>lorem__660</li>
			<li>lorem__661</li>
			<li>lorem__662</li>
			<li>lorem__663</li>
			<li>lorem__664</li>
			<li>lorem__665</li>
			<li>lorem__666</li>
			<li>lorem__667</li>
			<li>lorem__668</li>
			<li>lorem__669</li>
			<li>lorem__670</li>
			<li>lorem__671</li>
			<li>lorem__672</li>
			<li>lorem__673</li>
			<li>lorem__674</li>
			<li>lorem__675</li>
			<li>lorem__676</li>
			<li>lorem__677</li>
			<li>lorem__678</li>
			<li>lorem__679</li>
			<li>lorem__680</li>
			<li>lorem__681</li>
			<li>lorem__682</li>
			<li>lorem__683</li>
			<li>lorem__684</li>
			<li>lorem__685</li>
			<li>lorem__686</li>
			<li>lorem__687</li>
			<li>lorem__688</li>
			<li>lorem__689</li>
			<li>lorem__690</li>
			<li>lorem__691</li>
			<li>lorem__692</li>
			<li>lorem__693</li>
			<li>lorem__694</li>
			<li>lorem__695</li>
			<li>lorem__696</li>
			<li>lorem__697</li>
			<li>lorem__698</li>
			<li>lorem__699</li>
			<li>lorem__700</li>
			<li>lorem__701</li>
			<li>lorem__702</li>
			<li>lorem__703</li>
			<li>lorem__704</li>
			<li>lorem__705</li>
			<li>lorem__706</li>
			<li>lorem__707</li>
			<li>lorem__708</li>
			<li>lorem__709</li>
			<li>lorem__710</li>
			<li>lorem__711</li>
			<li>lorem__712</li>
			<li>lorem__713</li>
			<li>lorem__714</li>
			<li>lorem__715</li>
			<li>lorem__716</li>
			<li>lorem__717</li>
			<li>lorem__718</li>
			<li>lorem__719</li>
			<li>lorem__720</li>
			<li>lorem__721</li>
			<li>lorem__722</li>
			<li>lorem__723</li>
			<li>lorem__724</li>
			<li>lorem__725</li>
			<li>lorem__726</li>
			<li>lorem__727</li>
			<li>lorem__728</li>
			<li>lorem__729</li>
			<li>lorem__730</li>
			<li>lorem__731</li>
			<li>lorem__732</li>
			<li>lorem__733</li>
			<li>lorem__734</li>
			<li>lorem__735</li>
			<li>lorem__736</li>
			<li>lorem__737</li>
			<li>lorem__738</li>
			<li>lorem__739</li>
			<li>lorem__740</li>
			<li>lorem__741</li>
			<li>lorem__742</li>
			<li>lorem__743</li>
			<li>lorem__744</li>
			<li>lorem__745</li>
		</ul>
	</body>
</html>
